/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #666666;
    font-size: 12px;
    line-height: 1.4;
	background:#E0DFE1;
	font-family:georgian;
	font-family: verdana;
}



::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.templet{
	width:960px;
	margin:0 auto;	
}

.cler{overflow:hidden;}

.text-center{text-align:center;}
.topbar{
	background:#302B29;
	height:50px;
}
.topbarleft{
	float:left;
	width:560px;
	height:50px;
}
.topbarleft ul{
	margin:0;
	padding:0;
	list-style:none;
	margin-top:10px;
}
.topbarleft ul li{
	float:left;
	padding: 0px 10px;
	border-right:1px solid #ddd;	
}
.topbarleft ul li:last-child{
	border-right:0px solid #ddd;
}
.topbarleft ul li a{
	float:inline-style;
	text-decoration:none;
	color:#ddd;
	display:block;
}
.topbarleft ul li a:hover{}

.topbarright{
	float:right;
	width:400px;
	font-size:20px;
	margin-top:7px;
}
.topbarright a{
	text-decoration:none;
}
.topbarright a i{
	float:right;
	width:35px;
	height:30px;
	background:#ddd;
	margin-left:5px;
	border-radius:20px;
	color:#000;
	padding-top: 7px;
	text-align:center;
	
}


.contentsection{}

.contentsectionleft {
  float: left;
  width: 200px;
}
.contentsectionleft img {
  width: 98px;
  padding: 5px;
}
.contentsectionleft p {
  color: #ffffff;
  font-family: verdana;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.contentsectionright{
	float:left;
	width:350px;
}
.contentsectionright img {
  float: left;
  height: 129px;
  width: 760px;
  margin-top: 5px;
}

.manemanu {
  margin-top: 30px;
}
.manemanu ul {
  border-bottom: 3px double #666;
  border-top: 3px double #666;
  list-style: outside none none;
  margin: 0 0 0px;
  overflow: hidden;
  padding: 0;
}
.manemanu ul li {
  display: block;
  float: left;
  margin: 2px;
  padding: 5px;
}
.manemanu ul li a {
  color: #4a4a4a;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.manemanu ul li a:hover, #activ{color:#999;}

.recentnews {
  border-bottom: 3px double #bebdbf;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
}

.recentnewsleft{
  float: left;
  width: 500px;
}
.recentnewsleft img {
  
}
.recentnewsleft h3{}
.recentnewsleft p {
  margin: 0;
  font-size: 15px;
  text-align: justify;
}

.recentnewsright{
  float: right;
  width: 425px;

}

.rightnews {
  margin-bottom: 15px;
}
.postimg{
	float:left;
	margin-right:10px;
}
.postimg img {
  border: 1px solid #999;
  float:left;
  padding: 5px;
  width:110px;
}

.postdes {
  float: left;
  width: 293px;
}
.postdes h3{
	margin:0;
}
.postdes p {
  margin: 0;
  text-align: justify;
  font-size: 14px;
}


.content {
  border-bottom: 3px double #999;
  padding-bottom:10px;
  margin-bottom:30px;
  
}
.contentleft {
  float: left;
  width: 628px;
}
.topcat{float:left;}
.samepost {
  float: left;
  width: 284px;
  margin-right: 30px;
}
.samepost h2 {
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.sametopcat {
  
}
.sameimg {
  float: left;
}
.sameimg img {
  border: 1px solid #999;
  margin-bottom: 25px;
  margin-right: 5px;
  padding: 3px;
}
.samedoc{}
.samedoc h4 {
  color: #000;
  font-size: 15px;
  margin: 0;
}
.samedoc p {
  margin: 0;
}
.samedoc a {
  color: #d4465f;
  float: right;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
}
.topcatright{float:right;}
.topcatright h2{}
.siteber {
  float: right;
  width: 330px;
  display: block;
}
.adoption {
  float: left;
  margin-right: 20px;
  width: 50%;
} 
.adoption h4 {
  border-top: 3px solid #bbbabc;
  font-size: 15px;
  padding-top: 6px;
  text-align: center;
}
.adoption img{}
.category {
  float: left;
  margin-left: 6px;
  width: 42%;
}
.category h4 {
  border-top: 3px solid #bbbabc;
  font-size: 15px;
  padding-top: 7px;
  text-align: center;
}
.category ul{
	margin:0;
	padding:0;
	list-style:none;
}
.category ul li{
	margin-bottom:3px;
}
.category ul li a {
  color: #d92b52;
  text-decoration: none;
  font-size:13px;
}

.bootomcat {
  float: left;
  border-top: 3px double #999;
  margin-top: 18px;
  padding-top: 15px;
  width: 628px;
}
.bootomcat ul{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.bootomcat ul li{
	display: block;
	float: left;
	margin-right:1px;
	
}
.bootomcat ul li a {
  background: #000 none repeat scroll 0 0;
  border: 1px solid #666;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 31px;
  text-decoration: none;
  text-transform: uppercase;
}

.bootomcat ul li a:hover, #activecat{color:#ddd;}
.sameartical {
  float: left;
  margin-right: 15px;
  width: 142px;
}
.sameartical h4{}
.sameartical h4 a, .sameartical a{
	text-decoration:none;
	color:#DD4E41;
}
.sameartical img {
  border: 1px solid #666;
  padding: 3px;
}
.sameartical p {
  text-align: justify;
}
.sameartical a{}


.topfooter{
	border-bottom:3px double #999;
	padding-bottom:25px;
	margin-bottom:25px;
}
.sametext{
	width:180px;
	margin-right:12px;
	float:left;
}
.sametext h4 {
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}
.sametext ul{
	margin:0;
	padding:0;
	list-style:none;
	
}
.sametext ul li {
  margin-bottom: 5px;
}
.sametext ul li a{
	text-decoration:none;
	color:#DD4E42;
	font-size:15px;
}
.sametext ul li a:hover{}

.footer{}
.footerleft {
  float: left;
  width: 300px;
}
.footerleft p{}
.footerright{
	float:right;
	width:100px;
}
.footerright p{
	float:right;
	
}

.footermanu{text-align:center;}
.footermanu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.footermanu ul li {
  display: block;
  float: left;
  padding: 5px 1px;
}
.footermanu ul li a {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}
.footermanu ul li a:hover{color:#999;}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}





/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*Responsive*/
@media onli screen and (min-width:480px) and (max-width:768px){
	
.templet{width:760px;}	
}

@media onli screen and (min-width:320px) and (max-width:360px){
	
.templet{width:350px;}		
	
}

@media onli screen and (min-width:240px) and (max-width:319px){
	
.templet{width:310px;}		
}




